<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fhz.panda.dao.SysUserMapper">

	<select id="countAll" resultType="Integer" parameterType="Integer">
		select count(*) from sys_user 
	</select>
	<select id="findAll" resultType="SysUser">
		select * from sys_user;
	</select>
	<insert id="addSysUser" parameterType="SysUser">
		INSERT INTO dept(dname,db_source) VALUES(#{dname},DATABASE());
	</insert>

</mapper>
 